.card-header {
    background: black;
    color: white;
    text-align: center;
}

.card-body {
    border: 2px solid black;
}

.card-title {
    background: navy;
    color: white;
    text-align: left;
    padding: 20px 20px;
}

#name, #rate, #start, #months, #monthlyRate, #total {
    text-align: left;
    font: bold;
}